/.github export-ignore
/docker export-ignore
/spec export-ignore
/tests export-ignore
/.auto-changelog export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.scrutinizer.yml export-ignore
/CHANGELOG.md export-ignore
/infection.json.dist export-ignore
/grumphp.yml export-ignore
/phpspec.yml.dist export-ignore
/README.md export-ignore